@charset "utf-8";

// définir les variables initiales ou dérivées
$warning: #FF7F50;
$primary: #55acee;
$info: #CC45F2;
$family-serif: "Lora", "Georgia", serif;
$family-primary: $family-serif;
$white: #f9f9f9;

@import "~bulma/bulma.sass";



.anti-button {
  outline: none;
  border: none;
}
.anti-button:active {
  outline: none;
  border: none;
}
.anti-button:focus {
  outline: none;
  border: none;
}

.anti-button::-moz-focus-inner {
  border: 0;
}

.lower{
  justify-content: space-between,
}
.lower > button{
  width: 140px
}

@include until($tablet) {
  .desk-only{
    display: none;
  }
  .lower{
    justify-content: center;
  }
  .lower > button{
    width: 60px
  }
}
@include from($tablet) {
  .mobile-only{
    display: none;
  }
}



// .track {
//   background-color: $primary ;
//   border: solid 5px $primary;
//   border-radius: 3px;
// }




// // Le curseur

// input[type=range] {
//   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
//   width: 100%; /* Specific width is required for Firefox. */
//   background: transparent; /* Otherwise white in Chrome */
// }

// input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
// }

// input[type=range]:focus {
//   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
// }

// input[type=range]::-ms-track {
//   width: 100%;
//   cursor: pointer;

//   /* Hides the slider so custom styles can be added */
//   background: transparent; 
//   border-color: transparent;
//   color: transparent;
// }

// /* Special styling for WebKit/Blink */
// input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   border: 1px solid $white;
//   height: 20px;
//   width: 10px;
//   border-radius: 3px;
//   background: $white;
//   cursor: pointer;
//   margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
// }

// /* All the same stuff for Firefox */
// input[type=range]::-moz-range-thumb {
//   border: 1px solid $white;
//   height: 20px;
//   width: 30px;
//   border-radius: 0px;
//   background: $white;
//   cursor: pointer;
// }

// /* All the same stuff for IE */
// input[type=range]::-ms-thumb {
//   border: 1px solid $white;
//   height: 20px;
//   width: 30px;
//   border-radius: 3px;
//   background: $white;
//   cursor: pointer;
// }

// // le slider

// input[type=range]::-webkit-slider-runnable-track {
//   width: 100%;
//   height: 1px;
//   cursor: pointer;
//   background: $primary;
//   border-radius: 3px;
//   border: 0.2px solid $primary;
// }

// input[type=range]:focus::-webkit-slider-runnable-track {
//   background: $primary;
// }

// input[type=range]::-moz-range-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   background: $primary;
//   border-radius: 3px;
//   border: 0.2px solid $primary;
// }

// input[type=range]::-ms-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   background: transparent;
//   border-color: transparent;
//   border-width: 16px 0;
//   color: transparent;
// }
// input[type=range]::-ms-fill-lower {
//   background: $primary;
//   border: 0.2px solid $primary;
//   border-radius: 2.6px;
// }
// input[type=range]:focus::-ms-fill-lower {
//   background: $primary;
// }
// input[type=range]::-ms-fill-upper {
//   background: $primary;
//   border: 0.2px solid $primary;
//   border-radius: 2.6px;
// }
// input[type=range]:focus::-ms-fill-upper {
//   background: $primary;
// }